<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="sipei">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-button.css' %}"/>
    <title>书籍列表</title>
    --
    <style type="text/css">
        body {
            background: url({% static 'img/background.jpg'%}) no-repeat;

        }

        .menuItem {
            width: 100%;
            height: 70px;
            max-width: 400px;
            font: "微软雅黑";
            font-size: 40px;

        }

        .menuMargin {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        .moneyInputText {
            width: 55%;
            height: 100px;
            font-size: 45px;
        }


    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header ">
                <h1 class="text-center"><strong>书籍列表</strong></h1>

                <div align="left" style="float:left">
                    <button type="button" id="goBackBtn" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> 返回
                    </button>
                </div>

                <div align="right">
                    <button type="button" id="goBookManageBtn" class="btn btn-default btn-lg">
                        详细操作<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="{% ifequal sort '' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(0)>常规
        </button>
        <button type="button" class="{% ifequal sort 'name' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(1)>书籍名称&#8595;</button>
        <button type="button" class="{% ifequal sort 'writer' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(2)>作者&#8595;</button>
        <button type="button" class="{% ifequal sort 'press' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(3)>出版社&#8595;</button>
        <button type="button" class="{% ifequal sort 'price' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(4)>书籍价格&#8595;</button>
        <button type="button" class="{% ifequal sort 'max_amount' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(5)>总书量&#8595;</button>
        <button type="button" class="{% ifequal sort 'add_time' %}btn btn-success
{% else %}btn btn-default{% endifequal %}" onclick=sortBtn(6)>添加时间&#8595;</button>
    </div>
    <table class="table table-hover table-striped" id="book_list_table">
        <thead>
        <tr>
            <th>书籍ID</th>
            <th>书籍名称</th>
            <th>作者</th>
            <th>出版社</th>
            <th>书籍单价</th>
            <th>总数量</th>
            <th>现存量</th>
            <th>藏书位置</th>
            <th>添加时间</th>
        </tr>
        </thead>
        <tbody>
        {% for book in all_books %}
            <tr id="book_{{ book.id }}"{% if book.max_amount == book.borrow_amount %}
                class="warning" style="color: red" {% else %} class="info" {% endif %}>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.writer }}</td>
                <td>{{ book.press }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.max_amount }}</td>
                <td>{{ book.borrow_amount }}</td>
                <td>{{ book.position }}</td>
                <td>{{ book.add_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        {#        setInterval(function () {#}
        {#            $.ajax({#}
        {#                type: 'get',#}
        {#                url: "/book/getWarning"#}
        {#            });#}
        {#        }, 100000);#}
        {##}
        {#        {% ifequal total 0 %}#}
        {#        {% else %}#}
        {#            {% if not sort %}#}
        {#                window.alert("有{{ total }}件货物库存不足，请及时补充");#}
        {#            {% endif %}#}
        {#        {% endifequal %}#}

        $('#book_list_table tr:gt(0)').each(function () {
            var remain_amount = $(this).children('td:eq(5)').text() - $(this).children('td:eq(6)').text();
            $(this).children('td:eq(6)').text(remain_amount);
        });

        $('#goBackBtn').click(function () {
            window.location.href = '/';
        });

        $('#goBookManageBtn').click(function () {
            window.location.href = '/manage/book/book/';
        });

    });

    function sortBtn(k) {
        switch (k) {
            case 0:
                window.location.href = "?sort=";
                break;
            case 1:
                window.location.href = "?sort=name";
                break;
            case 2:
                window.location.href = "?sort=writer";
                break;
            case 3:
                window.location.href = "?sort=press";
                break;
            case 4:
                window.location.href = "?sort=price";
                break;
            case 5:
                window.location.href = "?sort=max_amount";
                break;
            case 6:
                window.location.href = "?sort=add_time";
                break;
            default:
                break;
        }
    }
</script>
</body>
</html>
