<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="sipei">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap-cerulean.min.css'%}" />
		<link rel="stylesheet" href="{% static 'css/bootstrapValidator.css'%}" />
		<link rel="stylesheet" href="{% static 'css/login.css'%}" />
		<style type="text/css">
			body {
				background: url({% static 'img/background.jpg'%}) no-repeat
			}
		</style>
		<title>重置密码</title>
	</head>
	<body>

		<div class="ch-container main">
			<div class="row">

				<div class="row">
					<div class="col-md-12 center login-header">
						<h2 class="header">Reset Password</h2>
					</div>
					<!--/span-->
				</div>
				<!--/row-->

				<div class="row">
					<div class="well col-lg-5 col-md-7 col-sm-8 col-xs-9 center login-box">
						<div class="alert alert-info">
							请输入下列信息
						</div>

						<form id="forgetForm" method="post" class="form-horizontal" action="">

							<div class="form-group">
								<label class="col-lg-3 control-label">邮箱地址</label>
								<div class="col-lg-8">
									<input type="text" class="form-control" id="email" name="email" />
								</div>
							</div>

							

							<div class="form-group">
								<label class="col-lg-3 control-label">密码</label>
								<div class="col-lg-8">
									<input type="password" class="form-control" id="password" name="password" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">确认密码</label>
								<div class="col-lg-8">
									<input type="password" class="form-control" id="password1" name="password1" />
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-lg-3 control-label">邮箱验证码</label>
								
								<div class="col-lg-4">
									<div class="col-xs-9">
										<input type="text" class="form-control" id="verifyCode" name="verifyCode" />
									</div>
									<div class="col-xs-3">
										<button type="button" id="getVerifyCodeBtn" class="btn btn-primary">获取验证码</button>
									</div>
								</div>
								
							</div>
							

							<div class="form-group">
								<div class="col-lg-9 col-lg-offset-2">

									<button type="submit" class="btn btn-success forgetBtn">重置密码</button>
								</div>
							</div>
                        {% csrf_token %}
						</form>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
			</div>
			<!--/fluid-row-->

		</div>
		<!--/.fluid-container-->

		
	
		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.js'%}" ></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.js'%}" ></script>
		<script type="text/javascript" src="{% static 'js/bootstrapValidator.js'%}" ></script>
		<script type="text/javascript">
			$(document).ready(function() {

{#			    setInterval(function(){#}
{#                $.ajax({#}
{#                    type: 'get',#}
{#                    url:"/product/getWarning"#}
{#                });#}
{#            },100000);#}
				/**
				 * 下面是进行插件初始化
				 * 你只需传入相应的键值对
				 * */
				$('#getVerifyCodeBtn').click ( function(){
				
				$.ajax({
  						type: 'get',
						url: '/getEmail?'+'email='+$('#email').val(),
						dataType: "json",
						success: function(data){
							if(data.status == 0){
								alert(JSON.stringify(data));
								
							}
							if(data.status == 10){
								alert(JSON.stringify(data));
							}
						},
						
					});
				})
				
				$('#forgetForm').bootstrapValidator({
					message: 'This value is not valid',
					feedbackIcons: { /*输入框不同状态，显示图片的样式*/
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: { /*验证*/
						email: {
			                 validators: {
			                     notEmpty: {
			                         message: '邮件不能为空'
			                     },
			                     emailAddress: {
			                         message: '请输入正确的邮件地址如：260437***6@qq.com'
			                     }
			                 }
			             },
						password: {
							message: '密码无效',
							validators: {
								notEmpty: {
									message: '密码不能为空'
								},
								stringLength: {
									min: 6,
									max: 20,
									message: '密码长度必须在6到20之间'
								},
								
								regexp: { /* 只需加此键值对 */
									regexp: /^[a-zA-Z0-9_\.]+$/,
									message: '只能是数字和字母_.'
								}
							}
						},
						password1: {
							message: '密码无效',
							validators: {
								notEmpty: {
									message: '密码不能为空'
								},
								stringLength: {
									min: 6,
									max: 20,
									message: '密码长度必须在6到20之间'
								},
								identical: {//相同
			                         field: 'password',
			                         message: '两次密码不一致'
			                     },
								
								regexp: { /* 只需加此键值对 */
									regexp: /^[a-zA-Z0-9_\.]+$/,
									message: '只能是数字和字母_.'
								}
							}
						},
						verifyCode: { /*键名和input name值对应*/
							message: '邮箱验证码不合法',
							validators: {
								notEmpty: { /*非空提示*/
									message: '邮箱验证码不能为空'
								},
								regexp: { /* 只需加此键值对 */
									regexp: /^[0-9]+$/,
									message: '只能是数字'
								},
								stringLength: { /*长度提示*/
									min: 6,
									max: 6,
									message: '长度只能是6位'
								}, /*最后一个没有逗号*/
								
							}
						},
						
					}
				})
				.on('success.form.bv', function(e) { //点击提交之后
					// Prevent form submission
					e.preventDefault();

					// Get the form instance
					var $form = $(e.target);

					// Get the BootstrapValidator instance
					var bv = $form.data('bootstrapValidator');

					// Use Ajax to submit form data 提交至form标签中的action，result自定义
					$.ajax({
  						type: 'POST',
						url: '/forget/',
						data: $('#forgetForm').serialize(),
						dataType: "json",
                        async:true,
						success: function(data){
							if(data.status == 1){
								alert(data.msg);
								window.location.href="/login/"
							}
							else {
							    alert(data.msg);
                            }
						},
						
					});
				});
			});
			
			
			
		</script>
	</body>
</html>
